<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.codingninjas.twitterdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tabbed"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".MyTweetReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_SUCCESS" />
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TrendsOpenActivity"
            android:label="@string/title_activity_trends_open"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar">
            <dependency>
                <groupId>
                    com.squareup.picasso
                </groupId>

                <artifactId>
                    picasso
                </artifactId>

                <version>
                    2.5.2
                </version>
            </dependency>
        </activity>
        <activity
            android:name=".TweetView"
            android:label="@string/title_activity_tweet_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FollowersListActivity" />
        <activity
            android:name=".FollowersTweetActivity"
            android:label="@string/title_activity_followers_tweet"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>